body, html {
    margin: 0 !important;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.next-card-btn {
    position: absolute;

    bottom: 20px;
    right: 40px;
}